* {box-sizing: border-box}

#container{
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:0;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding:1em;
    z-index:2500;
    overflow-y : scroll;
        transition: height 2s;
}

#image{
   background-color: rgba(100,100,100,0.3);
margin: 0.5em;
    margin-bottom: 1em;
margin-bottom: 0;
box-shadow: 0 0 15px rgba(0,0,0,0.7);
max-width: 100%;
border: 2px outset rgb(100,100,100);
}

#description{
       background-color: rgba(0,0,0,0.7);
margin:0.5em;
    padding:1em;
box-shadow: 0 0 15px rgba(0,0,0,0.7);
   max-width:100%;
}

#description h2{
    border-bottom : 1px solid white;
    color:rgb(255,242,204);
}




.iconButton{
    position:absolute;
    right:0;
    top:0;
    border-radius: 0.2em;
    border:2px outset rgb(20,20,20);
    width:3em;
    height:3em;
    margin:0.25em;
     background-size: 100% 100%;
    transition : background-image 1s ease-out;

    background-image:url("/assets/images/icons/close.png");
}

.iconButton:hover{
    box-shadow:0 0 5px yellow;
}

span.keyWord{
   font-weight:bold;
    color:#5d91b6
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(20,20,20);
    border: 2px solid #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: rgb(20,20,20);
    border: 0px none #ffffff;
    border-radius: 39px;
}

::-webkit-scrollbar-track:hover {
    background: rgb(20,20,20);
}

::-webkit-scrollbar-track:active {
    background: rgb(20,20,20);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
