<div id="wrapper">

<div id="zoom" role="group" aria-label="Manuscript zoom">

            <button  id="zoomIn" (click)="zoomChng(0.1)">
              +
            </button>
            <button  cid="zoomOut" (click)="zoomChng(-0.1)">
              -
            </button>
    

        
     <button  type="button"  id="zoomToFit" (click)="zoomChng(fitZoom-zoom)" *ngIf="zoom>fitZoom">
             X
            </button>
    
    <button (click)="navigate('map',0)">Map</button>
    
    <button  (click)="navigate('aquila_v','0,1')" >
             Home
            </button>
    
          </div>
    <ng-container  *ngFor="let zc of zoneCategories" >
   
        <button [style.border-color]=catColors[zc.name] [style.color]=catColors[zc.name] class="dspButton" (click)="zc.selected=!zc.selected; selectionChng()" [ngClass]="zc.selected ? 'hideButton' : 'showButton'">{{zc.name}} ({{zc.zoneCount}})</button>
    
    </ng-container>
    
    
    
</div>  


